<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/fonts/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/public/css/perfil.css">
  <title>Perfil | InLib</title>
</head>

<body>
  <div class="perfil-container">
    <h1>Perfil Estudantil</h1>
    <div class="perfil-foto"></div>
    <h2>Okénio M</h2>
    <p><strong>Instituição:</strong>INSTIC</p>
    <p><strong>Email:</strong> eryyoficial@inlib.com</p>
    <p><strong>Curso:</strong> Engenharia Informática</p>
    <p><strong>Ano Acadêmico:</strong> 2025</p>

    <div class="stats">
      <div>
        <h3>12</h3>
        <p>Livros Lidos</p>
      </div>
      <div>
        <h3>8</h3>
        <p>Favoritos</p>
      </div>
    </div>

    <div class="secao-button">
      <a href="editperfil.html" class="btns">Editar Perfil</a>
      <a href="#" class="btns">Ver Favoritos</button>
    </div>
  </div>
</body>

</html>