<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/fonts/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/css/suporte.css">
    <title>Suporte | InLib</title>
</head>
<body>
<main>
    <div class="container">
        <div class="left-section" style="border-right: none;">
            <h1>Fale Connosco</h1>
            <p>Se você está enfrentando problemas técnicos, nossa equipe de suporte técnico está pronta para ajudar com soluções rápidas e eficazes. Entre em contato através de:</p>
            <div class="contact-info">
                <p><i class="fas fa-phone"></i> (+244) 222 041 728 / 921 440 435</p>
                <p><i class="fas fa-envelope"></i> suporte@inlib.com</p>
            </div>
        </div>

        <div class="right-section" style="border-left: none;">
            <h1>Envie Sua Mensagem</h1>
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="text" placeholder="Contacto" required>
                <textarea placeholder="Mensagem"></textarea>
                <button type="submit">Enviar Mensagem</button>
            </form>
        </div>
    </div>
</main>

<div class="whatsapp-icon">
    <a href="https://wa.me/" target="_blank"><i class="fab fa-whatsapp"></i></a>
</div>
</body>
</html>
